@import 'tailwindcss';

:root {
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge legacy */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

.c {
	background-image: url('/c.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.cpp {
	background-image: url('/cpp.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
